<label>Digite o nome do alimento: </label>
<input  [(ngModel)]="pesquisa" name ="pesquisa" type="search">
<button (click)="listarMeals()"> buscar </button>

<div class="card my-5" >
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Area</th>
          <th scope="col">Thumbnail</th>
          <th scope="col">Instructions</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let meal of listandoMeals.listaMeal">
          <td>{{ meal.strMeal}}</td>
          <td>{{ meal.strCategory }}</td>
          <td>{{ meal.strArea }}</td>
          <td>{{ meal.strThumbMeal }}</td>
          <td>{{ meal.strInstructions }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


